/* Write your CSS here! */
p{
    margin-top:100px;
    margin-bottom: 100px;
    margin-right:100px;
    margin-bottom:100px;
    text-align: center;

}

h2{
    text-align: center;
}


article {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
body{
    margin: 8px;
    display: block;

  }

#mainHeading{
    color: red;

}


.funParagraph{
    color:green;

}